@import url("../assets/base.css");
.register-wrapper{
    display: grid;
    height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    width:100%;
}
.section1{
    background-color: var(--primary);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section2{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.Register_Banner{
    width: 50%;
    padding-bottom: 6%;
}
.section1 h1{
    font-size: var(--text-display);
    text-align: center;
    font-weight: 700;
    color: var(--white)
}

.register-title{
    color: var(--black);
}
.title-register-banner{
    color: var(--secondary-alt);
    font-weight: 700;
}
.Logo_SilkBay_Icon{
    width: 8.375rem;
    height: 8.375rem;
    object-fit: contain;
}
.Ingresar{
    color: var(--black);
    padding-bottom: 3%;
}
.register-wrapper p{
    text-align: center;
    font-size: var(--text-lg);
}

.register-wrapper .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.2rem;
    margin-top: 1rem;
}

.form .form-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form .form-footer a{
    text-decoration: none;
    color: var(--secondary);
    font-weight: bold;
}

.error{
    color: var(--alternative);
}



@media screen and (max-width: 768px){
    .section1{
        display: none !important;
    }
    .register-wrapper{
        grid-template-columns: 100%;
      
    }
   
}