@import url("../assets/base.css");
.profile-page{
    padding-left: 2rem;
}

 
.user-data{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    margin-top: 1rem;
}

.user-data .user-icon{
    height: 5rem;
    width: 5rem;
}
.user-data .data-title{
    margin-bottom: .5rem;
}

.user-data .username{
    font-size: var(--text-lg);
}