@import url("../assets/base.css");

.navbar-mobile{
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    position: relative;
}
.nested-menu-button{
    position: absolute;
    top: 1rem;
    right: 2rem;
}
.menu-button, .nested-menu-button{
    background: none;
    outline: none;
    border: none;
    padding: .2rem;
    margin: 0;
}


.menu-button > img, .nested-menu-button > img{
    width: 2rem;
}

.nav-items-mobile{
    position: fixed;
    display: grid;
    grid-template-columns: minmax(2rem, 1fr);
    transition: right ease-in-out 200ms;
    grid-template-rows: 4rem 4rem 4rem 25rem;;
    top: 0;
    width: 50vw;
    height: 100vh;
    background-color: var(--black);
    z-index: 10;
    list-style: none;
    padding-top: 4rem;
    padding-left: 2rem;
}

.nav-items-mobile > li > a{
    color: white;
    text-emphasis-style: none;
}

.signout-btn{
    display: flex;
    background-color: var(--alternative);
    color: white;
    align-items: center;
    padding: 1rem .4rem;
    font-size: var(--text-xsm);
    border: none;
    border-radius: 5px;

    cursor: pointer;
    column-gap: .5rem;
}

.logo-icon{
    width: 75%;;
}

.footer-nav-mobile{
    display: grid;
    place-items: center;
    margin: 0 auto;
    width: fit-content;
}

.footer-nav-mobile a:visited, .footer-nav-mobile *{
    color: white;
}

.footer-nav-mobile *{
    text-align: center;
}