@import url("../assets/base.css");

.user_data > .my_account{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
}

.user_data > .data_title{
    padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
}

.user_data > .user_name{
    padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
}

.user_data .user_icon{
    height: 10.7rem;
    width: 100%;
    object-fit: contain;
}

